.container-sobre{
    width: 100%;
    
}

.container-sobre .sidebar-container{
    margin-top: 100px;
    height: 100%;
    width: 25%;
    position: fixed;
}

.container-sobre .main-container{
    margin-left: 30%;
    padding-top: calc(100px + 5%);
}