.container-contato{
}

.container-contato img{
    width: 400px;
    height: 400px;
    border-radius: 40px;
    margin-top: calc(100px + 5%);
    margin-left: 2.5%;
    float: left;
}

.container-contato .info{
    margin-left: 27%;
    padding-top: calc(100px + 6%);
}

.container-contato .info .textos{
    padding-top: 20px;
}

.container-contato .info label{
    font-size: 36px;
    font-weight: bold;
}

.container-contato .info text{
    font-size: 36px;
}

.container-contato .info a{
    font-size: 36px;
    color: black;
}